<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pomidoro/Relation</title>

  <meta charset="utf-8">
</head>
<body>
<div>
    <H3>If it's the first time for you on these app, please, read below.</H3>
       <i>If you are arrived here, I think you know how tomato time work.<BR>
       This version is a little bit different from the simple tomato, cause is task based.<BR>
       It means that, before use tomato app, you have to create at least a category container and from this container a task.<BR>
       By clicking on task name you are starting a job session that run a complete pomodoro (4 work session with breaks).<BR>
       Clicking on another task name, previous job is freezed and new one started.<BR>
        You could set personalized session and break time for every single task and also mark it as completed if you are so speedy to finish early your work.<BR>
        This app save your work on the local memory of your browser. So you'll not loose your work after a page reload.<BR>I
           If you want to save your work permanently, update, restore your  work online, there are two simple button dedicated.<BR>
       Have a good work!</i>
</div>
</body>
</html>
