<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pomidoro/views/why</title>
  <meta charset="utf-8">
</head> 
<body> 
<div>
    <h1>Perchè un'altra app pomodoro:</h1>

    <i>Ho sempre trovato utile l'applicazione pomodoro per gestire il mio tempo.<BR>
       Non sono però mai stato tanto bravo nell'usarla nella maniera standard.<BR>
       Troppi progetti e troppo lavori da mandar avanti in parallelo durante il giorno, di solito, 
       senza facoltà di decisione su ordine e possibilità di concluderne uno per poi iniziarne un'altro.<BR>
       Ero quindi in cerca di un'app pomodoro che tenesse traccia del tempo dedicato ad ogni progetto, oltre al puro scandirne i tempi, quando possibile.</i>
    <i>L'app è incompleta, al momento.<BR>
       Vorrei eleborare più in là una sezione con login, che permetta il salvataggio su server e, magari anche la pubblicazione di statistiche sui progetti seguiti.</i>
</div>
<div>
    <h1>Qui potete trovare la relazione del progetto svolto:</h1>
        <h3><strong><a href="pdf/Relazione_Franco_Piras.pdf" target="_blank">Relazione PWM </a></strong></h3>
</div>
</body>
</html>
